<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6><strong>About the Project</strong></h6>
        <p class="text-justify">
            The Project is aimed at helping the Indian farmers by predicting which crops are most suited to grow
            on there land given the Environmetal Conditions and also predicting if their crops are suffereing
            from any diseases and give the major causes and solutions to those diseases
        </p>
      </div>

      <div class="col-xs-4 col-md-3">
        <h6><strong>Quick Links</strong></h6>
        <ul class="footer-links">
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Contribute</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Sitemap</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <h6><strong>Find Us On</strong></h6>
        <ul class="social-icons">
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p>Made by Team <strong>TLE</strong></p>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p>2020 Copyright &copy;</p>
      </div>
    </div>
  </div>
</footer>