<style>
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(18, 153, 243);
    overflow-x: hidden;
    color: snow;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFBFA;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
</style>
<body>
    <div class="sidenav">
        <a href="/crop/personal">Crop Prediction</a>
        <a href="/disease/upload">Disease Prediction</a>
    </div>
</body>